# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./sqlite/prod.db?connect_timeout=30?socket_timeout=5000"
GOOGLE_API_KEY=""

# fastify
FASTIFY_PORT=4000

# crawler variables
ITSAKURALINK_CRAWLER_INTERVAL=5
UPDATE_STREAM_STATUS_INTERVAL=2
XML_FEED_API_CHANNELS_PER_RUN=10
XML_FEED_API_CRAWLER_INTERVAL=10